//
//
//
//
// <Подключаем шрифт к Google fonts>===================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
// </Подключаем шрифт к Google fonts>==================================================


// <Настройка переменых>===============================================================
$container: 1216px;
$famileMontserrat: Montserrat;
$colorWhite: #fff;
$colorBlack: #000;
$colorEA1C1C: #EA1C1C;
$color151515: #151515;
$colorDEDEDE: #DEDEDE;
$color424B5A: #424B5A;
// </Настройка переменых>==============================================================


// <Оболочка>==========================================================================
.wrapper {
    margin: 0px 0px 0px 0px;
    padding: 79px 0px 0px 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    @media(max-width: 770px) {
        padding: 62px 0px 0px;
    }
}
// </Оболочка>=========================================================================


// <Настройка основная сетка>==========================================================
.container {
    padding: 0px 0px;
    width: $container;
    margin: auto;
    @media (max-width: 1270px) {
        padding: 0px 30px;
        width: 100%;
    }
    @media (max-width: 990px) {
        padding: 0px 20px;
    }
    @media (max-width: 660px) {
        padding: 0px 10px;
    }
}
// </Настройка основная сетка>=========================================================


// <Настройка основной контент>========================================================
.body {
    &.no-scroll {
        overflow: hidden;
    }
}
.main {
    flex: 1 1 auto;
}
// </Настройка основной контент>=======================================================


// <Подключение стилистика>============================================================
// <Подключаем обнуления>==============================================================
@import "_zeroing";
// </Подключаем обнуления>=============================================================

// <Подключаем header>=================================================================
@import "_header";
// </Подключаем header>================================================================

// <Подключаем прочие стилистика>======================================================
@import '_logo';
@import '_slick';
@import '_text';
@import 'template/_home';
// </Подключаем настройка стилистика>==================================================

// <Подключаем footer>=================================================================
@import '_footer';
// </Подключаем footer>================================================================
// </Подключение стилистика>===========================================================